version: "3.8"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5000" # Maps backend port 5000 inside the container to port 5000 on the host
    environment:
      - AZURE_OPENAI_API_KEY=key # Make sure to pass your API key
      - AZURE_OPENAIENDPOINTh=url
    container_name: learning_backend
    restart: always
    networks:
      - learning-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "3001:80" # Maps frontend port 80 inside the container to port 3000 on the host
    container_name: learning_frontend
    restart: always
    networks:
      - learning-network

networks:
  learning-network: